@use '../tools/config_mixins_mq' as mq;
@use '../settings/vars/colors' as c;

.main-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 64px;
    transition: all 200ms ease;
    box-shadow: 0 4px 8px -3px rgb(0 0 0 / 14%);

    &--scroll-down{
        background-color: #fff;
        box-shadow: 0 4px 8px -3px rgb(0 0 0 / 14%);
        backdrop-filter: blur(20px);

        @include mq.media-up(xl){
            height: 72px;
        }
    }
}
